.items {
  margin-top: 40px;
}

.items__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}
