.user-card {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 0;
}

.user-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #d7e3f7;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-card__name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0d2c2c;
}

.user-card__tag {
  display: inline-block;
  background: #e6edf5;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 0.85rem;
  color: #4a5b67;
  width: fit-content;
}

.user-card__icons {
  display: flex;
  gap: 10px;
  margin-top: 6px;
}

.user-card__icons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 5px;
  transition: 0.2s ease;
}

.user-card__icons button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.user-card__icons button:last-child {
  color: #b71515;
}

.user-avatar-placeholder {
  background-image: url("../../../assets/images/avatarPH.jpg");
}
@media (max-width: 768px) {
  .user-card {
    flex-direction: column;
    text-align: center;
  }

  .user-card__info {
    align-items: center;
  }
}
