.modal__container_type_image {
  padding: 0;
}
.modal__close-btn_type_preview {
  background-image: url(../../assets/images/close-transparent.svg);
  background-color: transparent;
  color: #ffffff;
  /* opacity: 1; */
  top: 24px;
  right: 24px;
}

.modal__image {
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.modal__footer {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 32px 32px;
}
.modal__caption {
  margin: 0 0 12px;
}
.modal__description {
  margin: 0;
}
.modal__price {
  margin: 0;
}
